@font-face {
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 400;
  src: local("Hind Vadodara"),
       local("HindVadodara-Regular"),
       url("../fonts/HindVadodara-Regular.woff2") format("woff2"),
       url("../fonts/HindVadodara-Regular.woff") format("woff");
}

@font-face {
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 700;
  src: local("Hind Vadodara Bold"),
       local("HindVadodara-Bold"),
       url("../fonts/HindVadodara-Bold.woff2") format("woff2"),
       url("../fonts/HindVadodara-Bold.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  padding-top: 60px;
  font-family: "Hind Vadodara", sans-serif;
  font-size: 24px;
  color: #444;
}

h1, h2, h3 {
  margin: 2rem 0 1rem;
  margin: 2rem 0 1rem;
}

.scott-photo {
  margin-bottom: 1rem;
}

.logo {
  margin-bottom: 2rem;
}

a {
  color: #07C;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.project {
  margin: 1rem 0;
}

.project a {
  font-weight: bold;
}
