@font-face {
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 400;
  src: local("Hind Vadodara"),
       local("HindVadodara-Regular"),
       url("../fonts/HindVadodara-Regular.woff2") format("woff2"),
       url("../fonts/HindVadodara-Regular.woff") format("woff");
}

@font-face {
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 700;
  src: local("Hind Vadodara Bold"),
       local("HindVadodara-Bold"),
       url("../fonts/HindVadodara-Bold.woff2") format("woff2"),
       url("../fonts/HindVadodara-Bold.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  padding: 4rem 2rem;
  font-family: "Hind Vadodara", sans-serif;
  font-size: 1.5rem;
  color: #444;
}

h1, h2, h3 {
  margin: 2rem 0 1rem;
}

h1:first-child {
  margin-top: 0;
}

h1 {
  font-size: 4rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.75rem;
}

a {
  color: #07C;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.account-links {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.account-link img {
  display: block;
}

.account-link--gitlab {
  background: #000;
  border-radius: 50%;
}

.account-link--code-golf {
  background: #000;
  border-radius: 50%;
}

.project-list {
  list-style-type: none;
}

.project {
  margin: 1rem 0;
}

.project__title {
  font-weight: bold;
}
